.columns {
    display: grid;
    grid-template-columns: 400px 1fr;
}

.columnleft {
    padding-left: 10px;
}

h3 {
    margin-bottom: 0px;
}

.columnright {
    background-image: url("https://d15v304a6xpq4b.cloudfront.net/lesson_images/afc649b3.jpg");
    background-repeat: no-repeat;
    height: 700px;
    text-align: center;
}

.imgcontainer {
    text-align: left;
}

.resultcontainer {
    position: relative;
    height: 720px;
    width: 351px;
    margin-left: 225px;
    margin-right: 225px;
    mask-image: url("Pool\ mask.png");
}

.resultboxup {
    position: relative;
    top: 380px;
    transition: .2s ease-in;
}

.resultboxdown {
    position: relative;
    top: 570px;
    transition: .2s ease-in;
}

.resultitems {
    display: inline-grid;
    background-color: white;
    border: solid;
    border-radius: 5px;
    padding: 0px 5px 5px 5px;
}

.resultitems h1 {
    margin: 0px;
}

.radiobuttons {
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    margin-left: 10px;
}

ul {
    text-align: left;
    margin-top: 0px;
    padding-left: 33px;
}