body {
    text-align: center;
    margin: 0;
}

.columns {
    display: grid;
    grid-template-columns: 400px 1fr;
}

.imgcontainer {
    text-align: left;
}

.resultcontainer {
    position: absolute;
    top: 0;
    left: 320px;
    height: 550px;
    width: 960px;
    overflow: hidden;
}

.resultboxup {
    position: relative;
    top: 380px;
    transition: .2s ease-in;
}

.resultboxdown {
    position: relative;
    top: 550px;
    transition: .2s ease-in;
}

.resultitems {
    display: inline-grid;
    background-color: white;
    border: solid;
    border-radius: 5px;
}

.resultitems h1 {
    margin: 0px 5px 0px 5px;
}

.radiobuttons {
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
}