body {
    text-align: center;
    margin: 0;
}

.columns {
    display: grid;
    grid-template-columns: 400px 1fr;
}

.columnright {
    background-image: url("https://d15v304a6xpq4b.cloudfront.net/lesson_images/afc649b3.jpg");
    background-repeat: no-repeat;
    height: 700px;
}

.imgcontainer {
    text-align: left;
}

.resultcontainer {
    position: relative;
    height: 550px;
    width: 801px;
    overflow: hidden;
}

.resultboxup {
    position: relative;
    top: 380px;
    transition: .2s ease-in;
}

.resultboxdown {
    position: relative;
    top: 550px;
    transition: .2s ease-in;
}

.resultitems {
    display: inline-grid;
    background-color: white;
    border: solid;
    border-radius: 5px;
}

.resultitems h1 {
    margin: 0px 5px 0px 5px;
}

.radiobuttons {
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
}

ul {
    text-align: left;
}